<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        // Declare the socket variable globally
        const socket = io();
    </script>
    <script defer src = "../js/notification.js"></script>
    <link rel="stylesheet" href="../css/notification.css">
    <link rel="stylesheet" href="../css/header.css">
</head>

<body>
    <%- include('../partials/header') %>

    <div id="user-data" data-username="<%= user ? user.username : '' %>"></div>

    <div id="roommate-request-banner" class="hidden">
        <p id="roommate-request-message"></p>
        <button id="accept-roommate-request">Accept</button>
        <button id="deny-roommate-request">Deny</button>
    </div>
</body>

</html>