<nav class="navbar">
    <div class="navbar-brand">
        <a href="/">
            <img src="../img/logo.png" alt="Unistays Logo">
        </a>
    </div>
    <!-- Mobile Menu Button -->
    <button class="menu-button" onclick="toggleMenu()">Menu</button>
    
    <!-- Desktop Navigation Items -->
    <div class="desktop-navbar-menu">
        <a href="/" class="navbar-item">First page</a>
        <a href="/second" class="navbar-item">Second page</a>
        <a href="/third" class="navbar-item">Third page</a>
        <a href="/fourth" class="navbar-item">Fourth page</a>
        <!-- Update button class as needed -->
        <button class="find-home-button">Find your new home</button>
    </div>
</nav>

<div id="menuOverlay" class="menu-overlay">
    <div class="menu-header">
        <img src="../img/logo.png" alt="Unistays Logo" class="overlay-logo">
        <button class="login-button">Log In</button>
        <button class="close-button" onclick="toggleMenu()">&times;</button>
    </div>
    <div class="menu-container">
        <!-- Mobile Navigation Items -->
        <a href="/" class="navbar-item">First page</a><hr>
        <a href="/second" class="navbar-item">Second page</a><hr>
        <a href="/third" class="navbar-item">Third page</a><hr>
        <a href="/fourth" class="navbar-item">Fourth page</a><hr>
    </div>
</div>

<script>
function toggleMenu() {
    var menuOverlay = document.getElementById("menuOverlay");
    menuOverlay.classList.toggle("active");
}
</script>